<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9">
            <h1>The Coffe in Chilangolandia jiji</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa eaque soluta ab, non illum hic quisquam autem
                tempora magnam! Officia, perferendis. Illo, itaque. Facilis voluptates rem quibusdam at, quisquam sunt officiis
                eius fugiat repudiandae error fuga tempore deserunt omnis ipsam dolores iusto nisi, delectus unde aperiam quae
                placeat quos? Natus quos sunt minus adipisci itaque unde ratione expedita officia? Inventore dolorum neque, sapiente
                facilis doloremque totam minima incidunt sunt fugiat ipsa amet dolor ipsam at repudiandae sit quae libero dicta
                earum temporibus pariatur fugit dolore. Quasi ducimus impedit sequi laborum totam ipsam inventore ipsa quo explicabo
                dolor sunt, atque vitae fugiat. Ratione facilis at atque dolor, perspiciatis, quidem alias repudiandae rerum
                labore a id veritatis vero laboriosam laborum nulla, facere deserunt qui. Sed nobis cumque necessitatibus quos
                mollitia eius maiores ea ex, assumenda nihil esse ipsum repudiandae? Earum aut ipsa architecto delectus quisquam
                velit perspiciatis numquam? Vero, consectetur eligendi.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <img src="https://picsum.photos/200/300/?random" class="img-fluid img-block">
                </div>
                <div class="col-12 col-sm-6">
                    <img src="https://picsum.photos/200/300/?random" class="img-fluid img-block">
                </div>
              
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <img src="https://picsum.photos/200/300/?random" class="img-fluid img-block">
                </div>
                <div class="col-12 col-sm-6">
                    <img src="https://picsum.photos/200/300/?random" class="img-fluid img-block">
                </div>
              
            </div>
        </div>
    </div>
</div>