<div class="content content-another">
        <div class="container-fluid ">
                <div class="row justify-content-center pt-3">
                    <div class="col-12"><h1 class="text-left">Mi cuenta</h1></div>
            
                    <div class="col-12 col-sm-9 pt-5">
                        <div class="row">
                            <div class="col-sm-3 col-12">
                                    <p>El buen Billy</p>
                                    <div class="por-rating">
                                        <img src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2016/ratingrankin.jpg"
                                            alt="">
                                    </div>
                                    <div class="content-opinion">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo at tempore accusamus, nisi magni aliquid provident dicta nam,
                                            quisquam aspernatur repellat officia nobis ab mollitia! Ratione expedita non repudiandae
                                            magni?
                                        </p>
                                    </div>
                            </div>
                            <div class="col-sm-9 col-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15051.826716676005!2d-99.16222135!3d19.414277649999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3a83d0a4f5%3A0x1488d9b1d1bee66a!2sMuseo+del+Objeto!5e0!3m2!1sen!2smx!4v1528568476707" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                <h3>Historial</h3>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="https://picsum.photos/200/300/?random">
                                        <h4>Buche</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="https://picsum.photos/200/300/?random">
                                        <h4>Nana</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <img src="https://picsum.photos/200/300/?random">
                                        <h4>Trompa</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>