@import "styles/variables";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    background-color: white;
}

.jumbotron {
    padding: 0;
}
.img-block{
    height: 250px;
    width: 100%;
    margin-bottom: 1rem;
}